<a href="https://colab.research.google.com/github/HarshithaReddyJ/1026-Harshitha-Reddy-/blob/master/Summer_Olympics_Data_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Import the text file 
from google.colab import files
uploaded = files.upload()

Saving summer.csv to summer.csv

In [6]:
df = pd.read_csv("summer.csv")
df.head()

   Year    City     Sport  ... Gender                       Event   Medal
0  1896  Athens  Aquatics  ...    Men              100M Freestyle    Gold
1  1896  Athens  Aquatics  ...    Men              100M Freestyle  Silver
2  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Bronze
3  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors    Gold
4  1896  Athens  Aquatics  ...    Men  100M Freestyle For Sailors  Silver

[5 rows x 9 columns]

1. In how many cities Summer Olympics is held so far?

In [9]:
df["City"].nunique()

22

In [13]:
tuple (df["City"].nunique())

TypeError: ignored

2. Which sport is having most number of Gold Medals so far? (Top 5)

3. Which sport is having most number of medals so far? (Top 5)

In [14]:
df.Sport.value_counts().head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64


4. Which player has won most number of medals? (Top 5)

In [15]:
df.Athlete.value_counts().head()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
Name: Athlete, dtype: int64

5. Which player has won most number Gold Medals of medals? (Top 5)

In [16]:
df[df.Medal=="Gold"].Athlete.value_counts().head()

PHELPS, Michael     18
NURMI, Paavo         9
LEWIS, Carl          9
LATYNINA, Larisa     9
SPITZ, Mark          9
Name: Athlete, dtype: int64

6. In which year India won first Gold Medal in Summer Olympics?

In [18]:
df2=df[df.Medal=="Gold"]
min(df2[df2.Country=="IND"].Year)

1928

7. Which event is most popular in terms on number of players? (Top 5)

In [19]:
df["Event"].value_counts().head()

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64


8. Which sport is having most female Gold Medalists? (Top 5)

In [22]:
df2=df[df.Medal=="Gold"]
df2[df2.Gender=="Women"].Sport.value_counts().head()

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64